POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=lending-indexer
POSTGRES_PORT=5432
DATABASE_URL=postgres://postgres:password@postgres:5432/lending-indexer
WEB_PORT=80

# Build-time variables for web image
VITE_API_URL=http://localhost/api
VITE_ESPLORA_BASE_URL=https://blockstream.info/liquidtestnet/api
VITE_ESPLORA_EXPLORER_URL=https://blockstream.info/liquidtestnet
VITE_FAUCET_URL=https://liquidtestnet.com/faucet
